@* @model TripOrganiser.Models.Trip *@
@model TripOrganiser.Models.TripDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <p><strong>Destination:</strong> @Model.Trip.DestinationCity</p>
        <p><strong>Departure:</strong> @Model.Trip.DepartureDateTime.ToString("g")</p>
        <p><strong>Return:</strong> @Model.Trip.ReturnDateTime.ToString("g")</p>
        <p><strong>Description:</strong> @Model.Trip.Description</p>
        <p><strong>Owner:</strong> @Model.Trip.InitialOwner.Email</p>
        <p><strong>Capacity:</strong> @Model.ParticipantsCount / @Model.Trip.Capacity</p>
        <ul>
            @for (var i = 0; i < Model.ParticipantEmails.Count; i++)
            {
                <li>
                    @Model.ParticipantEmails[i]
                </li>
            }
        </ul>
        <p><strong>Organisers:</strong> @Model.OrganisersCount</p>
        <ul>
            @for (var i = 0; i < Model.OrganisersEmails.Count; i++)
            {
                <li>
                    @Model.OrganisersEmails[i]
                </li>
            }
        </ul>
    </dl>
</div>
<div>
    @if(Model.isOwner || Model.isOrganiser){
        <a asp-action="Edit" asp-route-id="@Model.Trip.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
