@model TripOrganiser.Models.TripDetailsViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trip</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Trip.Id" />
            <div class="form-group">
                <label asp-for="Trip.DestinationCity" class="control-label"></label>
                <input asp-for="Trip.DestinationCity" class="form-control" />
                <span asp-validation-for="Trip.DestinationCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.DepartureAddress" class="control-label"></label>
                <input asp-for="Trip.DepartureAddress" class="form-control" />
                <span asp-validation-for="Trip.DepartureAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.DepartureDateTime" class="control-label"></label>
                <input asp-for="Trip.DepartureDateTime" class="form-control" />
                <span asp-validation-for="Trip.DepartureDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.ReturnDateTime" class="control-label"></label>
                <input asp-for="Trip.ReturnDateTime" class="form-control" />
                <span asp-validation-for="Trip.ReturnDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Capacity" class="control-label"></label>
                <input asp-for="Trip.Capacity" class="form-control" />
                <span asp-validation-for="Trip.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Description" class="control-label"></label>
                <input asp-for="Trip.Description" class="form-control" />
                <span asp-validation-for="Trip.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
            <p><strong>Capacity:</strong> @Model.ParticipantsCount / @Model.Trip.Capacity</p>
            <ul>
                @for (var i = 0; i < Model.ParticipantEmails.Count; i++)
                {
                    <li>
                        @Model.ParticipantEmails[i]

                        @* Check if the participant is also an organiser *@
                    @if (!Model.OrganisersEmails.Contains(Model.ParticipantEmails[i]) && Model.OwnerEmail != Model.ParticipantEmails[i])
                        {
                            <form asp-action="AddOrganiser" method="post" style="display:inline;">
                                <input type="hidden" name="userId" value="@Model.ParticipantIds[i]" />
                                <input type="hidden" name="tripId" value="@Model.Trip.Id" />
                                <button type="submit" class="btn btn-primary">Add Organiser</button>
                            </form>
                        }
                    </li>
                }
            </ul>
            <p><strong>Organisers:</strong> @Model.OrganisersCount</p>
            <ul>
                @for (var i = 0; i < Model.OrganisersEmails.Count; i++)
                {
                    <li>
                        @Model.OrganisersEmails[i]

                        @* Check if the organiser is a participant *@
                        @if (Model.ParticipantEmails.Contains(Model.OrganisersEmails[i]))
                        {
                            <form asp-action="RemoveOrganiser" method="post" style="display:inline;">
                                <input type="hidden" name="userId" value="@Model.OrganiserIds[i]" />
                                <input type="hidden" name="tripId" value="@Model.Trip.Id" />
                                <button type="submit" class="btn btn-danger">Remove Organiser</button>
                            </form>
                        }
                    </li>
                }
            </ul>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
